{% from 'partials/item-header.html' import render_item_header with context %}
{% from 'partials/item-details.html' import render_item_details with context %}

{% macro render_item(title=None, subtitle=None, location=None, date=None, start_date=None, end_date=None, url=None, main_url=False) -%}
<article class="item">
    <div class="item-topline">
        {{ render_item_header(title=title, subtitle=subtitle) }}
        {{ render_item_details(location=location, date=date, start_date=start_date, end_date=end_date, url=url, main_url=main_url) }}
    </div>
    {{ caller() if caller else '' }}
</article>
{%- endmacro %}
