{% from 'partials/item.html' import render_item with context %}

{% if resume.awards %}
<section id="awards" class="resume-section" aria-labelledby="awards-heading">
    <h2 id="awards-heading">Prêmios &amp; Reconhecimentos</h2>
    {% for award in resume.awards %}
    {% call render_item(
        title=award.title,
        subtitle=award.awarder,
        date=award.date
    ) %}
    {% if award.summary %}
    <div class="summary">
        <p>{{ award.summary }}</p>
    </div>
    {% endif %}
    {% endcall %}
    {% endfor %}
</section>
{% endif %}
