{% if resume.basics %}
{% set location = resume.basics.location %}
<section id="basics" class="resume-section" aria-labelledby="resume-name">
    <header class="resume-header">
        {% if resume.basics.image %}
        <div class="basics-image-wrap centered">
            <img class="basics-image" src="{{ resume.basics.image }}" alt="{{ resume.basics.name | d('') }}">
        </div>
        {% endif %}
        <h1 id="resume-name">{{ resume.basics.name | d('') }}</h1>
        <div class="contact centered" role="list" aria-label="{{ i18n.contact_info }}">
            {% if resume.basics.label %}
            <span class="vertical-separator" role="listitem">{{ resume.basics.label }}</span>
            {% endif %}
            {% if resume.basics.email %}
            <span class="vertical-separator" role="listitem">{{ format_mail(resume.basics.email) }}</span>
            {% endif %}
            {% if resume.basics.phone %}
            <span class="vertical-separator" role="listitem"><a href="tel:{{ resume.basics.phone | replace(' ', '') }}">{{ resume.basics.phone }}</a></span>
            {% endif %}
            {% if location and (location.city or location.region or location.countryCode) %}
            <span class="vertical-separator" role="listitem">
                {{ location.city | d('') }}{% if location.city and location.region %}, {% endif %}{{ location.region | d('') }}{% if (location.city or location.region) and location.countryCode %}, {% endif %}{{ location.countryCode | d('') }}
            </span>
            {% endif %}
            {% if resume.basics.url %}
            <span class="vertical-separator" role="listitem">{{ format_url(resume.basics.url) }}</span>
            {% endif %}
        </div>
        {% if location and (location.address or location.postalCode) %}
        <address class="address centered">
            {% if location.address %}
            <div class="address-line">{{ location.address | d('') | e | replace('\n', '<br>' | safe) }}</div>
            {% endif %}
            {% if location.postalCode %}
            <div class="address-postal">{{ location.postalCode }}</div>
            {% endif %}
        </address>
        {% endif %}
    </header>
</section>
{% endif %}
