{% if resume.basics %}
{% set profiles = resume.basics.profiles | selectattr('network') | selectattr('username') | selectattr('url') | list %}
{% if profiles %}
<section id="profiles">
    <h2>{{ i18n.sections.profiles }}</h2>
    <div class="item">
        {% for profile_row in profiles | batch(2, none) %}
        <div class="row">
            {% for profile in profile_row %}
            <div class="col">
                {% if profile %}
                <div class="profile-details">
                    <div class="profile-line">
                        <span class="profile-network">{{ profile.network }}:</span>
                        <span class="url">{{ format_url(profile.url) }}</span>
                    </div>
                    <div class="profile-username">
                        {{ profile.username }}
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endif %}
